.tokenMarquee {
  width: 57.625rem;  /* 922px，与ContentDisplay一致 */
  height: 3.25rem; /* 52px */
  gap: 1rem; /* 16px */
  padding: 0.75rem 0 0.75rem 0; /* 12px 0px 12px 0px */
  border-bottom: 0.0625rem solid #3741514D; /* 1px */
  display: flex;
  align-items: center;
  margin: 0 auto; /* 添加居中样式 */
}

.titleSection {
  height: 1.25rem; /* 20px */
  gap: 0.375rem; /* 6px */
  display: flex;
  align-items: center;
}

.fireEmoji {
  font-family: 'Jura', sans-serif;
  font-weight: 500;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
  color: white;
}

.titleText {
  font-family: 'Jura', sans-serif;
  font-weight: 500;
  font-size: 1rem; /* 16px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
  color: white;
}

.marqueeContainer {
  flex: 1;
  height: 1.75rem; /* 28px */
  gap: 0.5rem; /* 8px */
  display: flex;
  align-items: center;
  overflow: hidden;
}

.tokensContainer {
  display: flex;
  gap: 0.5rem; /* 8px */
  animation: marquee 30s linear infinite;
  white-space: nowrap;
}

/* 添加暂停动画效果 */
.paused {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.tokenItem {
  height: 1.75rem; /* 28px */
  gap: 0.25rem; /* 4px */
  padding: 0.375rem 0.8125rem; /* 6px 13px */
  border-radius: 6.25rem; /* 100px */
  background: linear-gradient(90deg, #8486FF 0%, #FF9E59 100%);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: border 0.3s ease;
}

.tokenItem:hover {
  border: 0.0625rem solid #FFFFFF; /* 1px */
}

.tokenIconWrapper {
  position: relative;
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
}

.tokenIcon {
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
  border-radius: 6.25rem; /* 100px */
  background: #37415180;
  border: 0.0625rem solid #FFFFFF; /* 1px */
}

.baseChainIcon {
  width: 0.5rem; /* 8px */
  height: 0.5rem; /* 8px */
  position: absolute;
  bottom: -0.125rem; /* -2px */
  right: -0.125rem; /* -2px */
}

.tokenSymbol {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 0.875rem; /* 14px */
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
  color: black;
  margin-left: 0.25rem; /* 4px */
}

.tokenPrice {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  font-size: 0.875rem; /* 14px */
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
  color: black;
  margin-left: 0.25rem; /* 4px */
}

.loadingContainer, .errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Jura', sans-serif;
  font-size: 0.875rem; /* 14px */
} 